# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment files
.env

# Builds
/.next/
/out/
/build

# Testing
/coverage

# Logs
*.log

# IDE files
.idea
.vscode

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc.
.DS_Store
*.pem
.vercel
